{%extends 'layout.html'%}
{%block content%}
        <h1>About</h1> 
        <p>Hi! I'm Cally - a computer programming student at Seneca College in Toronto, Canada. As I delve into different realms of computer science/programming, I wanted to create a space where I could document my learning process. So I taught myself some web development and built this personal blog (using Python and the Flask web framework). Each blog post is dedicated to a personal project and mostly just consists of a summary of what/how I learned from said project (this is essentially my digital journal). Feel free to post a comment!</p>
{%endblock content%}